*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body {
    background-color: #333;
}
.third-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.content {
    
    
    width: 97%;
    height: 30vh;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.content h3 {
    background-color: violet;
    width: 100%;
    height: 40%;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-size: 56px;
    
}
.content p {
    background-color: gold;
    width: 100%;
    height: 60%;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-size: 30px;
    
    
}

.articles {
   
    width: 97%;
    height: 64vh;
    display: flex;
    

    
    
}

.left-article {
   background-color: crimson;
   flex: 0.7;
   margin-right: 24px;
}
.left-article img {
    width: 100%;
    height: 100%;
}
.right-article {
   background-color: whitesmoke;
   flex: 1.3;
   overflow: scroll;
}
.right-article p {
    margin: 20px;
    font-size: 50px;
}