*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    
    width: 100%;
    
    background-color: #333;
    
    /* overflow: hidden; */
}

.first-page {
    
    
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    z-index: -1;
    
}

.third-page  {
    width: 100%;
    height: 100vh;
    background-color: tomato;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(100%);
    position: fixed;
}
    
    
    

.article-slide {
    transform: translateX(0%);
    transition: transform 1.5s ease;
}

/* prevent default for submit button */
/* first page */

.button1 {
    width: 320px;
    height: 78px;
    margin: 66vh auto;
    
}




.button1 button {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family: 'Coming Soon', cursive;
    color: crimson;
    text-transform: uppercase;
    cursor: pointer;
}
.button1:hover {
    transform: scale(1.2);
}



/* 2nd page */

.birthday-form {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* display: none; */
    transform: translateY(100%);
    /* z-index: 0; */
    position: fixed;
    
    top: 0;
    left: 0;
}
.form{
    margin: 25vh 24vw;
    top: 0;
    font-family: 'Coming Soon', cursive;
    border:2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.button-active {
    transform: translateY(0%);
    transition: transform 1.5s ease;
    
}
.form label {
    width: 100%;
    font-size: 4vw;
}



.button-none {
    display: none;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    background-repeat: no-repeat;
    background-size: cover;
}

    
    
    
    




    

    
    



/* body::before {
    content: '';
    position: fixed;
    background-image: url(/pexels-background.mp4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}  */
#date{
    font-size: 20px;
}

input[type=submit]{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
