$bp:(
  small-mobile:460px,
  big-mobile:510px,
  tablet:768px,
  small-tablet:715px
);

@mixin query($screen){
  @each $key, $value in $bp{
    @if($screen ==$key){
      @media(max-width:$value){
        @content
      }
    }
  }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
    // Birthday form page
    .birthday-form {
      width: 100%;
      height: 100%;
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;

      @include query(tablet){
        flex-direction: column;
      }
   
      #background-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .form {
      font-family: 'Coming Soon', cursive;
      border:2px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 663px;
      padding: 30px;
      text-align: center;
      color: #fff;
      font-size: 35px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);

      @include query(tablet){
        max-width: 88vw;
        height: auto;
        padding: none;
      }
      @include query(small-mobile){
        width: 88vw;
        height: 60vh;
        padding: none;
      }
     
      
      #date {
        font-size: 20px;
      }
      input[type=submit] {
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
        
    }

    // Submit result slider
    .submit-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      transform: translateX(100%);
      transition: transform ease 3.5s;
        
      #background-video-slide {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
      
      .content { 
        display: flex;
        width: 100vw;
        height: 100vh;
        margin: 10px;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Coming Soon', cursive;
        color: seashell;
        
        nav {
          display: flex;
          width: 100vw;
          align-items: center;
          justify-content: flex-start;
          
          #arrow {
            width: 100px;
            margin-left: 6px;
          }
          .far {
            font-size: 40px;
            color: #fff;

            @include query(big-mobile){
              font-size: 30px;
            }
          }
          .slide-button  {
            width: 500px;
            height: 100px;
            top: 0;
            left: 0;
          }
          
        }
        
        .content-top {
          width: 100%;
          flex: 0.7;
          display: flex;
          align-items:center;
          justify-content: space-evenly;
          flex-direction: column;
          text-align: center;

          @include query(tablet){
            width: 100%;
            justify-content: center;
          }
          
          .meet-your  {
            font-size: 60px;

            @include query(small-tablet){
              font-size: 6vw;
            }
          }
          .input-text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            max-width: 800px;
            margin-bottom: 30px;

            @include query(big-mobile){
              font-size: 20px;
              padding: 0 5vw;
            }
          }
        }
        
        .content-bottom {
          width: 100%;
          flex: 1.3;
          display: flex;
          align-items:center;
          justify-content:space-evenly ;
          flex-direction: column;

          @include query(tablet){
            justify-content:flex-start;
            height: auto;
          }
          
          .input-name {
            width: 100%;
            text-align: center;
            font-size: 40px;
            max-width: 800px;

            @include query(big-mobile){
              font-size: 27px;
              padding: 0 5vw;
            }
          }
          .input-img {
            width: 500px;
            height: auto;

            @include query(small-tablet){
              height: auto;
            }
            @include query(big-mobile){
              width: 90%;
              height: auto;
            }
          }
        }
      }
    }
        
    .submitActive {
      transform: translateX(0%);
  }
  .submitInactive {
      transform: translateX(100%);
  }
      
      
    
  // @Media queries

  // @include query(small-mobile){
  //   width: 88vw;
  //   height: 60vh;
  //   padding: none;
  // }
  //  @include query(tablet){...}
  // @media screen and (max-width: 768px) {
  //   // .birthday-form {
  //   //   flex-direction: column;
  //   // }
      
  //   // .form{
  //   //   max-width: 88vw;
  //   //   height: auto;
  //   //   padding: none;
  //   // }
  //   // .content-top {
  //   //   width: 100%;
  //   //   justify-content: center;
  //   // }
              
  //   // .content-bottom {       
  //   //   justify-content:flex-start;
  //   //   height: auto;
  //   // }
  //   }

  // @media screen and (max-width: 715px) {
  //   .content-top h1 {
  //     font-size: 6vw;
  //   }
  //   .input-img {
  //     height: auto;
  //   }
  // }

  // @media screen and (max-width: 510px) {
  //   // .input-img {
  //   //   width: 90%;
  //   //   height: auto;
  //   // }
  //   // .input-name {
  //   // font-size: 27px;
  //   // }
          
  //   // .input-text {
  //   //   font-size: 20px;
  //   // }
  //   // .far {
  //   //   font-size: 30px;
  //   // }
  // }


  // @media screen and (max-width: 460px) {
  //   .form{
  //     width: 88vw;
  //     height: 60vh;
  //     padding: none;
  // }}




        
        
            
            
            
    
      
    
    
  
      
          

        
   
   
  
  
  
 
  
 
  
 
 
  /*# sourceMappingURL=style.css.map */